<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwb.sob_login">

    <application>
        <activity android:name=".activity.LoginActivity">
        </activity>

        <meta-data
            android:name="com.zwb.sob_login.OkHttpGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>