<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwb.sob_ucenter">

    <application>
        <activity android:name=".activity.MainActivity">
        </activity>


        <activity android:name=".activity.UserCenterActivity"/>
        <activity android:name=".activity.MsgCenterActivity"/>
        <activity android:name=".activity.UcenterListActivity"/>
        <activity android:name=".activity.FavoriteListActivity"/>
        <activity android:name=".activity.MessageListActivity"/>
        <activity android:name=".activity.SettingActivity"/>
    </application>

</manifest>